.kurgan {
    outline-color: #1F1F20;
    background: #8E8E8E;
}

.achæa {
    outline-color: #808080;
    background: #1D223A;
}

.varian-empire {
    outline-color: #7B6926;
    background: #521E1A;
}

.prythonia {
    outline-color: #000000;
    background: #222E18;
}

.suaring {
    outline-color: #1E1208;
    background: #2A4052;
}

.osterwalde {
    outline-color: #000000;
    background: #362145;
}

.bastærnia {
    outline-color: #726014;
    background: #824E22;
}

.valdelor {
    outline-color: #505050;
    background: #1F2E3E;
}

.shuri {
    outline-color: #541211;
    background: #8E8E8E;
}

.zurtu {
    outline-color: #726014;
    background: #824E22;
}

.khalidin {
    outline-color: #7E6202;
    background: #864810;
}

.meridion {
    outline-color: #294017;
    background: #222222;
}

.hammaris {
    outline-color: #003E4E;
    background: #828282;
}

.ondor {
    outline-color: #808080;
    background: #824E5D;
}

.pakaroo {
    outline-color: #1E3005;
    background: #3E5E11;
}

.lutova {
    outline-color: #806B16;
    background: #8E4B14;
}

.mara {
    outline-color: #265059;
    background: #402150;
}

.alliance-of-independent-scientists {
    outline-color: #808080;
    background: #828282;
}

.eterna {
    outline-color: #7E6A02;
    background: #551818;
}

.legion-of-sanguine {
    outline-color: #706A68;
    background: #4D1818;
}

.brotherhood {
    outline-color: #4E0404;
    background: #0F0F0F;
}

.othium {
    outline-color: #354E24;
    background: #1E1C1D;
}

.hiraeth {
    outline-color: #808080;
    background: #2C687C;
}

.sakari-order {
    outline-color: #000000;
    background: #857A13;
}

.tunnelworker\'s-union {
    outline-color: #6E5E1E;
    background: #585858;
}

.merchants-union {
    outline-color: #000000;
    background: #263636;
}

.the-gatesmen {
    outline-color: #3D0059;
    background: #0F0F0F;
}

.new-moon-order {
    outline-color: #682849;
    background: #541259;
}
