body {
    background: rgb(223, 199, 164);
    color: rgb(63, 63, 63);
}

.header,
form input[type="submit"] {
    background: rgb(199, 163, 125);
}

.dropdown-content {
    background: rgb(199, 163, 125);
}

a {
    color: rgb(63, 63, 63);
}

.dropdown-content a {
    color: rgb(63, 63, 63);
}

.tile,
.container {
    background: rgb(255, 231, 202);
    outline-color: burlywood;
}

.tile-text,
.lower-tile-text {
    text-shadow: 0px 2px lightgray, 0px -2px lightgray, 2px 0px lightgray, -2px 0px lightgray;
}