body {
    background: rgb(40, 40, 40);
    color: white;
}

a {
    color: white;
}

p {
    color: antiquewhite;
}

h1,
.container>.tile-text {
    color: rgb(245, 209, 161);
}

h2,
.yellow {
    color: rgb(255, 234, 169);
}

h3 {
    color: rgb(255, 220, 175);
}

.header,
.header>div>h1,
form input[type="submit"] {
    background: rgb(30, 30, 30);
    color: white;
}

.dropdown-content {
    background: rgb(30, 30, 30);
}

.tile,
.container {
    background: rgb(30, 30, 30);
    outline-color: black;
}

.tile-text,
.lower-tile-text {
    color: white;
    text-shadow: 0px 2px black, 0px -2px black, 2px 0px black, -2px 0px black;
}