html {
    scroll-behavior: smooth;

    ::-webkit-scrollbar {
        display: none;
    }
}

.header {
    position: fixed;
    top: 0px;
    left: 0%;
    width: 100%;
    min-height: 80px;
    height: fit-contents;
    display: grid;
    grid-template-columns: 6.5em 9fr 1fr;
    cursor: default;
    align-items: center;
    z-index: 1;
}

.logo>img {
    height: 80px;
    width: 80px;
    margin: 0 .5em;
    display: block;
}

.dropdown {
    position: relative;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-content a {
    padding: 0.5em 0;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    color: black;
    background-color: lightsalmon;
}

.dropdown-toggle:hover,
.dropdown:hover .dropdown-toggle {
    color: orange;
    /* Change text color to black when hovered over or when the dropdown menu is active */
}

/* Selection Grids */

.selection-container {
    display: grid;
    margin-top: 100px;
    height: auto;
    padding: 15vh 0;
    grid-gap: 30px 10px;
    grid-template-columns: repeat(auto-fit, minmax(15vw, 1fr));
    justify-items: center;
    place-items: center;
}

.selection-tile {
    display: grid;
    min-height: 15vw;
    min-width: 15vw;
    max-height: 45vh;
    max-width: 45vh;
    align-items: center;
    justify-items: center;
    aspect-ratio: 1/1;
    border-radius: 30%;
    padding: 2%;
    position: relative;
    text-align: center;
}

.mini-selection-tile {
    position: absolute;
    display: grid;
    height: 10%;
    min-width: 10%;
    width: fit-content;
    align-items: center;
    justify-items: center;
    border-radius: 0%;
    padding: 2%;
    text-align: center;
}

.bastaernia-selection-tile {
    display: grid;
    grid-template-columns: auto auto;
    min-height: 15vw;
    min-width: 30vw;
    max-height: 45vh;
    max-width: 90vh;
    align-items: center;
    justify-items: center;
    aspect-ratio: 2/1;
    border-radius: 25%;
    padding: 2%;
    position: relative;
    text-align: center;
}

.character-selection-tile {
    display: grid;
    min-height: 10vw;
    min-width: 10vw;
    max-height: 30vh;
    max-width: 30vh;
    align-items: center;
    justify-items: center;
    aspect-ratio: 1/1;
    border-radius: 30%;
    padding: 2%;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.selection-tile>img,
.selection-tile>a>img,
.bastaernia-selection-tile>img,
.bastaernia-selection-tile>a>img,
.character-selection-tile>img,
.character-selection-tile>a>img,
.mini-selection-tile>a>img,
.mini-selection-tile>img {
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    border-radius: 30%;
}

.tile-text {
    position: absolute;
    font-weight: bold;
    font-family: 'Inknut Antiqua', 'Times New Roman', Times, serif;
    text-wrap: nowrap;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lower-tile-text {
    position: absolute;
    font-weight: bold;
    font-family: 'Inknut Antiqua', 'Times New Roman', Times, serif;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.back {
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

/* Characters */

.container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    /* Adjust width as needed */
    max-width: 400px;
    /* Set a max-width if needed */
    padding: 20px;
    border-radius: 10px;
    z-index: 999;
    /* Ensure it's above other content */
    outline-style: solid;
    outline-width: 10px;
}

.container img {
    width: 100%;
    height: auto;
}

.info div {
    font-size: 18px;
}

.info div strong {
    font-weight: bold;
}

.description {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    grid-column: span 2;
    height: 200px;
    overflow: auto;
    font-size: 11px;
}

.container.show {
    display: grid;
    grid-template-columns: 40% 60%;
}

/* Add */

form {
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
    width: 80%;
    margin-left: 7%;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form textarea {
    padding: 10px 10px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: 60%;
    text-align: center;
}

form textarea {
    height: 100px;
    resize: vertical;
}

form input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 50px;
}

form input[type="submit"]:hover {
    background-color: #ff8c00;
}

/* Light & Dark Mode */

.mode-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    overflow: visible;
    /* Ensures that the hover text is visible */
    z-index: 1;
    /* Ensures that the hover text appears above other elements */
}

.world-download {
    position: fixed;
    bottom: 20px;
    right: 70px;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    overflow: visible;
    /* Ensures that the hover text is visible */
    z-index: 1;
    /* Ensures that the hover text appears above other elements */
}

.pack-download {
    position: fixed;
    bottom: 20px;
    right: 120px;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    overflow: visible;
    /* Ensures that the hover text is visible */
    z-index: 1;
    /* Ensures that the hover text appears above other elements */
}

.mode-toggle:hover::before,
.world-download:hover::before,
.pack-download:hover::before {
    position: absolute;
    top: -30px;
    /* Adjust this value to change the distance of the text from the button */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    /* Adjust background color */
    color: #fff;
    /* Adjust text color */
    padding: 5px 10px;
    /* Adjust padding */
    border-radius: 5px;
    /* Adjust border radius */
    text-wrap: nowrap;
    font-size: small;
}

.mode-toggle:hover::before {
    content: "Switch Mode";
}

.world-download:hover::before {
    content: "Download World";
}

.pack-download:hover::before {
    content: "Download Resource Pack";
}

/* Defaults */

* {
    text-decoration: none;
}

h1 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1em
}

p {
    font-family: 'Inknut Antiqua', 'Times New Roman', Times, serif;
    line-height: 1.7;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    font-size: larger;
}

.big-font {
    font-size: x-large;
}

.large-font {
    font-size: xx-large;
}

.super-large-font {
    font-size: xxx-large;
}

.text-box {
    margin-top: 80px;
    width: 80%;
    margin-left: 7%;
    padding: 2% 0;
}

.text-box>h1,
.text-box>h2 {
    text-align: center;
}

.centered {
    text-align: center;
}


@media (max-width: 1050px) {

    .selection-container {
        grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
    }

    .selection-tile {
        min-height: 40vw;
        min-width: 40vw;
    }

    .bastaernia-selection-tile {
        min-height: 40vw;
        min-width: 80vw;
    }

    .large-font {
        font-size: x-large;
    }

    .text-box {
        margin-left: 10%;
    }

    form {
        margin-left: 10%;
    }

    form input[type="text"],
    form input[type="number"],
    form textarea {
        width: 100% ;
    }

}