.kurgan {
    outline-color: #3e3e3f;
    background: #fffffe;
}

.achæa {
    outline-color: #ffffff;
    background: #1c2756;
}

.varian-empire {
    outline-color: #f6d24d;
    background: #871e15;
}

.prythonia {
    outline-color: #000000;
    background: #253e12;
}

.suaring {
    outline-color: #3c2511;
    background: #376186;
}

.osterwalde {
    outline-color: #000000;
    background: #4d246c;
}

.bastærnia {
    outline-color: #e5bf28;
    background: #e67f26;
}

.valdelor {
    outline-color: #a1a1a1;
    background: #203e5f;
}

.shuri {
    outline-color: #a72422;
    background: #ffffff;
}

.zurtu {
    outline-color: #e5bf28;
    background: #e67f26;
}

.khalidin {
    outline-color: #fcc505;
    background: #ee7202;
}

.meridion {
    outline-color: #527f2e;
    background: #262625;
}

.hammaris {
    outline-color: #007b9b;
    background: #e5e5e5;
}

.ondor {
    outline-color: #ffffff;
    background: #e67d9c;
}

.pakaroo {
    outline-color: #3c600a;
    background: #5d9f04;
}

.lutova {
    outline-color: #ffd62d;
    background: #ff780b;
}

.mara {
    outline-color: #4ba0b2;
    background: #622483;
}

.alliance-of-independent-scientists {
    outline-color: #ffffff;
    background: #e5e5e5;
}

.eterna {
    outline-color: #fbd405;
    background: #8c1111;
}

.legion-of-sanguine {
    outline-color: #e0d3d0;
    background: #7c1111;
}

.brotherhood {
    outline-color: #9b0909;
    background: #000000;
}

.othium {
    outline-color: #6a9c47;
    background: #1e1b1c;
}

.hiraeth {
    outline-color: #ffffff;
    background: #3ab3da;
}

.sakari-order {
    outline-color: #000000;
    background: #ecd708;
}

.tunnelworker\'s-union {
    outline-color: #dcbc3c;
    background: #939393;
}

.merchants-union {
    outline-color: #000000;
    background: darkslategrey;
}

.the-gatesmen {
    outline-color: #7a00b2;
    background: #000000;
}

.new-moon-order {
    outline-color: #cf5092;
    background: #890794;
}